<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OXHanoiDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B876C54C1EC0852B0083604F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B876C5651EC0852C0083604F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B876C5701EC0852C0083604F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
